.project                         
.classpath                       
.settings/                       
.checkstyle                      
target/                          
logs/*                       
*.pyc                            
.tox                             
.coverage                        
htmlcov/
.git
*tests*
