# rest framework
Django==2.2.3
djangorestframework==3.9.4

# for call rest api
httplib2==0.13.0

# for call openstack auth and transport api
keystoneauth1==2.18.0

# python-memcached
python-memcached

ruamel.yaml==0.16.10

# uwsgi for parallel processing
# uwsgi

# for unit test
# coverage==4.2
# mock==2.0.0
# unittest_xml_reporting==1.12.0

# for onap logging
onappylog>=1.0.9

# for background tasks
# celery >= 4.0
