# rest framework
Django==3.2.7
djangorestframework==3.12.4

# for call rest api
httplib2==0.19.1

# for call openstack auth and transport api
keystoneauth1==2.18.0

# python-memcached
python-memcached

# uwsgi for parallel processing
# uwsgi

# for unit test
# coverage==4.2
# mock==2.0.0
# unittest_xml_reporting==1.12.0

PyYAML==5.4.1

# for background tasks
celery >= 4.0
